.msg-box.new-article-more-details {

	h4 {
		font-family: $pfont;
		color: $grey;
		margin-bottom: 13px;
	}

	label {
		font-family: $sfont;
		font-size: $pmd;
		color: $blue;
		padding-left: 7px;
	}

	.item {
		padding: 9px 0;
	}

	.right-items {
		margin-top: 80px; 
	}

	.more-right {

		textarea {
			max-width:100%;
    		min-width:100%;
    		resize:vertical;
    		box-sizing:border-box;
    		margin:auto;
		}

		p {	
			font-family: $sfont;
			font-size: $pmd;
			margin-bottom: 5px;
		}

		label {
			padding: 0 25px 0 7px;
		}
	}

	.more-end {

		p {
			margin: 0 0 10px;
		}
	}
}