.msg-box.new-article-more-details {

	h3 {
		font-family: $pfont;
		color: $grey;
	}

	label {
		font-family: $sfont;
		font-size: $pmd;
		color: $blue;
		padding-left: 7px;
	}

	.item {
		padding: 10px 0;
	}

	.right-items {
		margin-top: 80px; 
	}

	.more-right {

		textarea {
			max-width:100%;
    		min-width:100%;
    		resize:vertical;
    		box-sizing:border-box;
    		margin:auto;
		}

		p {	
			font-family: $sfont;
			font-size: $pmd;
			margin-bottom: 5px;
		}

		label {
			padding: 0 25px 0 7px;
		}
	}

	.end-btn {
		padding: 0 30px;
		position: relative;
		bottom: -40px;

		.footer-btn{
			text-align: center; 
			border: 2px solid $grey;
			border-radius: 5px;
			padding: 0;
			background: $brown;
			text-align: center;

			a {
				color: $grey;
				text-align: center; 
			

				.btn-icon {
					font-size: 24px;
					margin: 7px 0;
					border-left: 1px solid $grey;

					&:first-child {
						border-left: none;
						border-right: 1px solid $grey;
					}
				}

				.btn-text {
					font-family: $pfont;
					margin: 4px 0;
					padding: 0;
				}

				&:hover {
					color: $light-blue;
				}

				&:active {
					color: $blue;
				}
			}
		}
	}
}