.msg-box {

	.basic-container {

		.basic-left {
			margin: 47px 0 15px 0;

			.dados-nome {

				label {
					display: block;
				}
				
				#v-nome {
					width: 100%;
				}
			}
		}

		.basic-right {
			margin: 150px 0 15px 0;
		}
	}
}