.main-header {
	text-align: center;
	height: 115px;

	h1 {
		width: 100%;
		margin: 0 auto;
		padding: 16px 0 8px 0;
	}

	p { 
		margin: 0;
		padding: 7px 0 12px 0;
	}
}

.msg-box {
	position: relative;

	.end-btn {
		width: 100%;
		padding: 0px 15px;
		position: absolute;
		bottom: 20px;
		margin: 0;

		&> :last-child{
			float: right;
		}
	}
}