.radio-group {
    display: inline-block;
    vertical-align: middle;
    overflow: hidden;

    input[type=radio] {
        position: absolute;
        visibility: hidden; 
    }
    
    label {
        color: $blue;
        display: inline-block;
        cursor: pointer;
        font-family: $sfont;
        font-weight: bold;
        padding: 10px 20px;
        margin: 10px;
    }

    input[type=radio]:checked + label{
        color: $white;
        background: $blue;
    }

    input[type=radio] + label {
        border: solid 2px $blue;
        border-radius: 7px;
    }
}