.box-container {

	.sm-box {
		&:not(.on){
			display: none; 
		}

		&.on{
			position: relative;
			z-index: 2;

			ul {

		 		li {

					a {

						.fa {
							font-size: 28px;
							padding: 42px 0;
						}
			
						h5 {	
							display: none;
							visibility: hidden;
						}
					}
				}
			}
		}
	}
	
	.main-box {
		position: absolute;
		z-index: 1;
		margin-left: 0;
		padding-left: 0;
	}
}