.box-container {
	width: 100%;
	
	.sm-box {
		display: inline;
		float: left;
		width: 200px;
		background-color: $brown;
		font-family: $pfont;
		color: $dark-grey;
		-webkit-box-shadow: 3px 3px 15px -3px rgba(0,0,0,0.75);
		-moz-box-shadow: 3px 3px 15px -3px rgba(0,0,0,0.75);
		box-shadow: 3px 3px 15px -3px rgba(0,0,0,0.75);
		
		ul {
			width: 100%;
			list-style-type: none;
			text-align: center;
			
			li {
				height: 115px;
				width: 100%;
				position: relative;

				&.selected {
					border: 2px solid $grey;
				} 
				
				a {
					color: $dark-grey;
					border: 2px solid $dark-brown;
					border-top:none;
					text-decoration: none;
					position: absolute;
					width: 100%;
					height: 100%;
					top: 0;
					left: 0;

					&:hover {
						color: $light-blue;
					}
				
					&:active, &.selected {
						border-color:$grey;
						color: $blue;
						box-shadow: -1px 3px 25px -1px rgba(0, 0, 0, 0.75);
					}

					&.disabled {
					color: $light-grey;	
					}

					.fa {
						padding: 27px 85px 10px;
						font-size: 24px;
					}

					h5 {
						margin: 0 auto;
					}
				}
			}
		}
	}

	.main-box {
		max-width: 100%;
		height: 575px; 
		margin-left: 200px;

	}
}