.btt-footer {
    background: white;
    border: none;
    width: 100%;
    text-align: right;
    padding: 0;
    
    h3 {
        display: inline-block;
        vertical-align: middle;       
    }

    .fa {
        display: inline-block;  
        font-size: 22px;
        vertical-align: middle;
        margin: 16px 2px;
        padding-left: 18px;
    }
}
