.select-group {
    display: inline-block;
    vertical-align: middle;

    &:last-child {
    margin-left: 10%;
    }

    .text-group {
        display: inline-block;
        position: relative;
        
        .drop-options {
            display: none;
        }

        .text-control {
            width: 176px;
            box-shadow: none;
            background:white;
            border: none;
            border-bottom: 2px solid $grey;
            display: inline-block;
            transition: border-color .2s;
            
            .text {
                padding: 10px 7px 8px 10px;
                font-family: $sfont;
                float: left;
                color: $dark-grey;
                font-size: $pmd;
                transition: text-shadow .2s;  
                max-width: 130px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;            
            }

            .dropdown {
                float: right;
                vertical-align: middle;
                color: $dark-grey;
                padding: 10px 10px 11px 7px;
                transition: text-shadow .2s;
            }
        }

        &:hover {

            .text-control {
                border-bottom-color: $blue; 
            }

            .text{
            color: $blue; 
            text-shadow: 0 0 .05px #333, 0 0 .05px #333;        
            }

            .dropdown {
                color: $blue;  
                text-shadow: 0 0 .15px #333, 0 0 .15px #333; 
            }
        }

        &.open {

            .drop-options {
                display: block;
                list-style-position: inside;
                list-style-type: none;
                text-align: left;
                width: 100%;
                margin: 0 auto;
                color: $dark-grey;
                font-size: $pmd;
                border: 1px solid #b9b6b6;
                border-radius: 3px;
                left: 0;
                position: absolute;
                z-index: 1;
                background: white;

                li {
                    padding: 10px 5px;
                    color: $dark-grey;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    transition: text-shadow .2s;

                    &:hover {
                    background: $light-grey;
                    }

                    a {
                        text-decoration: none;
                    }

                    &:hover {
                        color: $blue; 
                        text-shadow: 0 0 .05px #333, 0 0 .05px #333; 
                    }
                }   
            }
        }     
    }
}