.news-wrapper {
    background: $white;
    margin: 0;

    .header-sm {
        display: none;

        h2 {
            font-family: $pfont;
            color: $dark-red; 
        }
    }

    .img-container{
        position: relative;

        button {
            position: absolute;
            background: $white;  
            border-radius: 50%; 
            border: 2px solid $light-grey;
            -webkit-box-shadow: 1px 2px 9px -2px rgba(133,133,133,1);
            -moz-box-shadow: 1px 2px 9px -2px rgba(133,133,133,1);
            box-shadow: 1px 2px 9px -2px rgba(133,133,133,1);

            .fa{
                padding: 13px;
            }
        }
        
        img {
            position: absolute;
            margin: 65px 60px;
            max-width: 100%; 
            width: 75%;
        }
    }

    .text-container {
        
        .header-lg {
            width: 100%;
            margin: 65px 0 10px;

            h2 {
                display: inline-block;
                width: 45%;
                font-family: $pfont;
                color: $dark-red;
                vertical-align: middle;
            }

            .header-line {
                display: inline-block;
                width: 55%;
                vertical-align: middle;
                height: 2px;
                background: $grey;
            }
        }

        p {
            font-family: $sfont;
            font-size: $pmd;
            color: $blue;
        }

        .footer-lg {
            width: 100%;
            color: $dark-red;
            vertical-align: middle;
            text-align: right;
            
            .footer-line{
                display: inline-block;
                width: 25%;
                vertical-align: middle;
                height: 2px;
                background: $grey;
                width: 25%;
            }

            h3 {
                display: inline-block;
                font-family: $pfont;  
                width: 65%;    
            }

            .fa {
                display: inline-block;
                padding: 15px 0 15px 30px;
                width: 10%;
            }
        }
    }
}

