.news-wrapper {
    background: $white;
    margin: 0;

    .header-sm {
        display: none;

        h2 {
            font-family: $pfont;
            color: $dark-red; 
        }
    }

    .img-container{
        position: relative;

        button {
            position: absolute;
            background: $white;  
            border-radius: 50%; 
            border: 2px solid $light-grey;
            -webkit-box-shadow: 1px 2px 9px -2px rgba(133,133,133,1);
            -moz-box-shadow: 1px 2px 9px -2px rgba(133,133,133,1);
            box-shadow: 1px 2px 9px -2px rgba(133,133,133,1);

            .fa{
                padding: 13px;
            }
        }
        
        img {
            position: absolute;
            margin: 65px 60px;
            max-width: 100%; 
            width: 75%;
        }
    }

    .text-container {
        
        .header-lg {
            width: 100%;
            margin: 65px 0 10px;

            h2 {
            display: inline-block;
            width: 45%;
            font-family: $pfont;
            color: $dark-red;
            margin-top: 0;
            
            }
        }

        .header-line {
            display: inline-block;
            width: 55%;
            vertical-align: middle;
            height: 2px;
            background: $grey;
            
        }
    }
}

