.news-wrapper {
    height: 400px;

    .header-sm {
        display: block;       
           
        h2 {
            display: inline-block;
            margin: 4% 0 2% 5%;
            width: 35%;
            font-family: $pfont;
            color: $dark-red;
            font-size: 24px;
            vertical-align: middle;
        }

        .header-line {
            display: inline-block;
            margin: 4% 0 2% 0;
            width: 58%;
            vertical-align: middle;
            height: 2px;
            background: $grey;
        }
    }

    .thumb-wrapper {
        margin: 20px auto;
        width: 320px;
        height: 200px;
    }

    .text-container { 

        .header-lg {
            display: none;
        }

        .footer-lg {
            display: none;
        }
    }
    
    .footer-sm {
        display: block;
        width: 100%;
        color: $dark-red;
        text-align: right;
        padding: 0 15px;
    
        .footer-line{
            display: inline-block;
            margin: 3% 5% 3% 0;
            vertical-align: middle;
            height: 2px;
            background: $grey;
            width: 55%;
        }

        h3 {
            display: inline-block;
            font-family: $pfont;  
            width: 32%; 
            
        }

        .fa {
            display: inline-block;
            padding: 15px 0 15px 30px;
            width: 5%;
        }
    }
}