.news-wrapper {
    background: $white;
    margin: 0;
    height: 450px;

    .header-sm {
        display: none;

        h2 {
            font-family: $pfont;
            color: $dark-red; 
        }
    }
   
    .slider-wrapper {
        position: relative;
        margin: 60px auto;
        width: 450px;
        height: 330px;
        overflow: hidden;
        -webkit-box-shadow: 0px 10px 21px -9px rgba(0,0,0,0.81);
        -moz-box-shadow: 0px 10px 21px -9px rgba(0,0,0,0.81);
        box-shadow: 0px 10px 21px -9px rgba(0,0,0,0.81);
        
    .img-container {
            position: absolute;
            height: 100%;
            min-width: 100%;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
        }
    }

    .btt-container {   
        position: relative;
        margin: 0 auto;
        width: 450px;
        transform: translate(0, -250px);

        button {
            background: $white; 
            width: 50px;
            height: 50px;
            border-radius: 50%; 
            border: 2px solid $light-grey;
            transition: border .2s;
            -webkit-box-shadow: 0px 15px 20px -13px rgba(0,0,0,0.81);
            -moz-box-shadow: 0px 15px 20px -13px rgba(0,0,0,0.81);
            box-shadow: 0px 15px 20px -13px rgba(0,0,0,0.81);

            &:first-child {
                position: absolute;
                left: -26px;
            }

            &:last-child {
                position: absolute;
                right: -26px;
            }

            .fa {
                font-size: 18px;
                color: $dark-grey;
            }

            &:hover {
            border: 2px solid $dark-grey;

                .fa {
                    color: $blue;
                }
            }
        }
    }
}
.text-container {
    
    .header-lg {
        width: 100%;
        margin: 43px 0 10px;

        h2 {
            display: inline-block;
            width: 45%;
            font-family: $pfont;
            color: $dark-red;
            vertical-align: middle;
        }

        .header-line {
            display: inline-block;
            width: 55%;
            vertical-align: middle;
            height: 2px;
            background: $grey;
        }
    }

    p {
        font-family: $sfont;
        font-size: $pmd;
        color: $blue;
        height: 220px;
    }

    .footer-lg {
        width: 100%;
        color: $dark-red;
        vertical-align: middle;
        text-align: right;
        
        .footer-line{
            display: inline-block;
            width: 25%;
            vertical-align: middle;
            height: 2px;
            background: $grey;
            width: 25%;
        }

        h3 {
            display: inline-block;
            font-family: $pfont;  
            width: 65%;    
        }

        .fa {
            display: inline-block;
            padding: 15px 0 15px 30px;
            width: 10%;
        }
    }

}

