.input-wrapper.number-input{

    input[type=number]::-webkit-outer-spin-button,
    input[type=number]::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
    
    input[type=number] {
        -moz-appearance:textfield;
    }

    .input-inner-wrapper{
        position: relative;

        .number-input-btn{
            position: absolute;
            right   : 0;
            height  : 50%;
            margin: 1px;
            padding: 0;
            border: 0;
            min-width: 20px;

            &:focus{
                outline: none;
            }

            &.input-btn-asc{
                top: 0;
            }
            &.input-btn-desc{
                bottom: 0;
            }

            .fa {
                vertical-align: middle;
                height: 100%;

                &.fa-sort-asc {
                    padding: 3px 7px;
                }

                &.fa-sort-desc{
                    padding: 3px 7px;

                }
            }
        }
    }
}