&.lp {
	nav .area-color {
		background: $lp;
	}
}

&.new {
	nav .area-color {
		background: $new;
	}
}

&.op {
	nav .area-color {
		background: $op;
	}
}

&.cat {
	nav .area-color {
		background: $cat;
	}
}

nav {

	.nav-menu {
		display: none;
	}
		
	ul {
		list-style-type: none;
		text-align: center;
		font-family: $pfont;
		font-size: 22px;
		font-weight: 600;

		li {
			padding: 20px 0;

			a {
			color: white;
			text-decoration: none;

				&:active {
					color: $light-blue;
				}
			}

			&:first-child {
				display: none;
			}
		}
	}
	
}