&.lp {
	nav .area-color {
		background: $lp;
	}
}

&.new {
	nav .area-color {
		background: $new;
	}
}

&.op {
	nav .area-color {
		background: $op;
	}
}

&.cat {
	nav .area-color {
		background: $cat;
	}
}

nav {

	.area-color {
		margin: 0;
		position: relative;

		ul {
			list-style-type: none;
			text-align: center;
			font-family: $pfont;
			font-size: 22px;
			font-weight: 600;
			position: relative;
			z-index: 2;

			li {
				padding: 20px 0;

				a {
				color: white;
				text-decoration: none;

					&:active {
						color: $light-blue;
					}
				}

				&:first-child {
					display: none;
					padding: 18px 0;
					min-height: 70px;
				}
			}
		}

		.top-menu-image-container {
			display: none;
		}
	}
}