nav {
	
	.area-color {
		padding-bottom: 77px;
		 
		ul {

			li { 
				display: none;

				&.nav-menu {
					display: block;
		    		text-align: left;
		    		padding-left: 10px;

					button {
						background: none;
						border: none;

		    			.fa {
							color: white;
							font-size: 22px;	
						}
					}
		    	}
		    }
		}    
	}
}

.nav-menu-open {
	.area-color {
		display: block;
		max-width: 100%;

		ul {

			li {
				display: block;

			}
		}	
	}	
}