.tabs-nav-btn {
    text-align: center;
    text-decoration: none !important; 
    border: 2px solid $grey;
    border-radius: 5px;
    padding: 0;
    background: $brown;
    color: $grey;
    margin: 0;
    box-sizing: border-box;
    display: inline-block;
    height: 40px;

    .tabs-nav-btn-inner-wrapper {
        display: table;
        table-layout: fixed;
        height: 100%;
    
        .tabs-nav-btn-coll{
            vertical-align: middle;
            display: table-cell;
            padding: 0 10px;
            font-weight: 600;
        }
    }

    .btn-icon {
        font-size: 24px;
        border-left: 1px solid $grey;

        &:first-child {
            border-left: none;
            border-right: 1px solid $grey;
        }
    }

    .btn-text {
        font-family: $pfont;
        font-size: $pmd;
        padding: 0;
    
        &:hover {
            color: $light-blue;
            text-decoration: none;
        }

        &:active {
            color: $blue;
        }
    }
}