/*COLORS*/
$white: #ffffff;

$brown: #e5e1d1;
$light-brown: #f3eedb;
$dark-brown: #d0cdc3;

$blue: #0f161d;
$light-blue: #254d75;
$dark-blue: #000000;

$grey: #52616d;
$light-grey: #a2a8ad;
$dark-grey: #3f3f40;

$red: #e01611;
$light-red: #f51a14;
$dark-red: #af0c08;

/*FONT-FAMILY*/
$pfont: Verdana, Geneva, sans-serif;
$sfont: "Lucida Sans", "Lucida Grande", sans-serif;

/*FONT COLORS*/
$lighttcolor: $light-grey;
$darkcolor: $blue; 
$selectedcolor: $blue;
$errorcolor: $red;
