.p-font{
	font-family: $pfont;
	
	&h1{
		font-size: 32px;
		color: $blue;

		&.light {
			color: $grey;
		}
	}

	&h2{
		font-size: 26px;
		color: $blue;

		&.light {
			color: $grey;
		}
	}

	&h3 {
		font-size: 24px;
	}
}

.s-font{
	font-family: $sfont;

	&p {
		font-size: 18px;
		color: $blue;

		&.light {
			color: $light-grey;
		}

		&.sm {
			font-size: 16px;
		}
	}
}