$fa-font-path: "~font-awesome-sass/assets/fonts/font-awesome/";
@import '~font-awesome-sass/assets/stylesheets/font-awesome';

@import './variables';
@import './mixins';

@import '../../components/dashboard/typography/Typography';
@import '../../components/dashboard/topMenu/TopMenu';
@import '../../components/dashboard/asideMenu/AsideMenu';


@import './mediaQueries';

body{
    background-color: white;
    margin: 0;
    padding: 0;
}

ul {
	margin: 0;
	padding: 0;
}