/*COLORS*/
$white: #ffffff;

$brown: #e5e1d1;
$light-brown: #f3eedb;
$dark-brown: #d0cdc3;

$blue: #0f161d;
$light-blue: #254d75;
$dark-blue: #000000;

$grey: #9e9e9e;
$light-grey: #d4d4d4;
$dark-grey: #797979;

$red: #e01611;
$light-red: #f51a14;
$dark-red: #af0c08;

/*FONT-FAMILY*/
$pfont: Verdana, Geneva, sans-serif;
$sfont: "Lucida Sans", "Lucida Grande", sans-serif;

/*FONT- SIZE*/
/*paragraphs*/
$plg: 18px;
$pmd: 16px;
$psm: 14px;

/*ELEMENT STATE*/
$hover: $light-blue;

/*FORM COLORS*/
$default: $grey; 
$selected: $light-blue;
$error: $red;



