.drop {

	label {

		p {
			font-family: $sfont;
			font-size: $plg;
			font-weight: bold;
            color: $blue;
            margin: 30px 0 10px 0;
		}
	}

	.dropdown-toggle {
		width: 100%;
		background: none;
		border: 1px solid $grey;
		border-radius: 3px;
		padding: 5px;
		text-align: right;

		span {
			font-family: $sfont;
			font-size: $pmd;
			color: $light-grey;
			padding: 5px;
		}

		.fa {
			font-size: $pmd;
			color: $light-grey;
			padding: 0 5px;
		}

		&:focus {
            border: 1px solid $light-blue;
            -webkit-box-shadow: 0px 0px 6px 1px rgba(153,153,153,1);
            -moz-box-shadow: 0px 0px 6px 1px rgba(153,153,153,1);
            box-shadow: 0px 0px 6px 1px rgba(153,153,153,1);
            outline: none;
        }
	}

	.dropdown-menu {
	    position: absolute;
	    z-index: 999;
	    background: white;
	    list-style-type: none;
	    padding-right: 30px;
	    width: 100%;

	    li {
	    	border: 1px solid $grey;
	    	border-top: none;
	    	border-top-color: transparent;
	    	font-family: $sfont;
			font-size: $pmd;

			&:hover {
				border: 1px solid $light-blue;
				margin-top: -1px;
			}

			&:last-child {
				border-bottom-left-radius: 3px;
				border-bottom-right-radius: 3px;
			}
	    	
			a {
				color: $grey;
				text-decoration: none;
				padding: 5px;
				width: 100%;
				display: block;

				&:hover {
					color: $light-blue;
				}
			}
	    }
	}
}