.msg-box {

	.container-fluid {
		margin: 0;

		.v-list {
			list-style-type: none;
			background-color: #d6d6d6;
			border: 1px solid $dark-grey;
			
			p {
				color: $blue;
				font-size: $pmd;
				font-family: $sfont;
			}

			.v-number {
				text-align: center;
			}

			&:nth-child(odd) {
				background-color: #efefef;
			}	

			&.v-none {
				background-color: $white;
				border: none;

			
				h5 {
					@extend .p-light;
					
					margin: 16px 0px 16px 0px;
				}

				.fa {
					color: $grey;
					font-size: 22px;
					padding: 19px 0; 
				}
			}
		}
	}	
}