.row-visitas {
	text-align: center;
	margin: 0 auto; 

	.visitas {
		margin: 188px 0;
		padding: 0;

		&:not(:last-child) {
			border-right: 2px solid #9e9e9e;
		}

		h3 {
			@extend .p-light; 
		}

		p {
			@extend .s-font;
			font-family: $pfont;
		}
	}
}