.msg-box {
	overflow-y: auto;
	margin: 0 auto;
	height: 570px;

	.msg-list {  /*.row*/
		list-style-type: none;
		text-align: center;
		width: 100%;
		background-color: #d6d6d6;
		border: 1px solid $dark-grey; 
		margin: 0 auto;

		div {

			p {
				font-family: $sfont;
				color: $blue;
				font-size: $pmd;
				margin: 19px 0;
				text-align: center;
			}

			&.msg-nome {

				p {
					text-align: left;
				}
			}

			&.msg-novo {
				padding: 16px 0;
					
				.bg-red {
					width: 52px;
					height: 28px;
					background-color: $red;
					color: $white;
					border-radius: 5px;
					margin: 0 auto;
						
					h6 {	
						margin: 1px 0;
						font-weight: 800;							
					}

					.fa {
						display: none;
					}				
				}
			}

			&.msg-assunto {

				p {
					white-space: nowrap;
					overflow: hidden;
					text-overflow: ellipsis;
				}
			}

			&.msg-data {

				p {
					margin: 20px 0;
					font-size: $psm;
				}
			}

			&.msg-buttons {

				a {
					color: #0f161d;
						
					.fa {
						font-size: 22px;
						padding: 19px 0;
					}
				}
			}	
		}

		&:nth-child(odd) {
			background-color: #efefef;
		}	

		&.old {
		@extend div;

			p {
				font-family: $sfont;
				color: $grey;
				font-size: $pmd;
				margin: 19px 0;
				text-align: center;
			}
				
			div {

				&.msg-buttons {

					a {
	
						.fa {
							color: $grey
						}
					}
				}
			}
		}

		&:hover {
			border: 1px solid $light-blue; 

			p {
				color: $light-blue;
			}
				
			div {

				&.msg-buttons{

					a {

						.fa {
							color: $light-blue;	
						}
					}
				}
			}
		}
	}
}
