.msg-box {

	.msg-list {

		div {

			&.msg-novo {
				padding: 16px 0 17px 0; 

				.bg-red {
					width: 28px;
					height: 28px;

					h6 {
						display: none; 
					}

					.fa {
						display: block;
						font-size: 22px;
						padding: 3px;

					}
				}
			}
		}
	}
}