.msg-box {

	.msg-list {

		div {

			&.msg-nome {
			
			}

			&.msg-novo {
				

				.bg-red {

					.fa {
						font-size: 18px;
						padding: 6px;
					}
				}
			}

			&.msg-assunto {

				p {
					display: none;
					visibility: hidden;
				}
			}
			
		}
	}
}