/*
.rm-space {
	
	.msg-list {

		div {

			&.msg-nome {
				width: 25%;
			}

			&.msg-novo {
				width: 5%;
				margin: 15px 0;
				
				.bg-red {
					width: 25px;

					p {
						display: none;
					}

					.fa {
						font-size: 18px;
						display: block;
						padding: 5px;
					}
				}
			}

			&.msg-assunto {
				width: 30%;

				p {
					margin-left: 10px;
					white-space: nowrap;
					overflow: hidden;
					text-overflow: ellipsis;
				}
			}

			&.msg-data {

			}

			&.msg-buttons {
				width: 20%;
			}

		}
	}
}
*/
