.tm-box {

	div {

		ul {
			height: 100%;
			margin: 2px auto;

			li {
				height: 100%;

				a {

					i {
						font-size: 26px;
						margin: 42px 0;
					}
				}

				h5 {
					display: none;
					visibility: hidden;
				}
			}
		}	

		&:last-child {
			 clear: left;
		}
	}
}
