.tm-box {
	width: 100%;
	background-color: $brown;
	font-family: $pfont;
	-webkit-box-shadow: 0px 6px 15px -5px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 6px 15px -5px rgba(0,0,0,0.75);
	box-shadow: 0px 6px 15px -5px rgba(0,0,0,0.75);
	position: relative;
	z-index: 2;

	ul {
		width: 100%;
		padding: 10px 0;

		li {
			display: inline-block;
			text-align: center;
			margin: 10px auto;

			a {
				color: $dark-grey;
				text-decoration: none;

				i {
					display: block;
					font-size: 24px;
					margin-top: 10px;
				}

				h5 {
					display: block;
					margin: 5px 0;
				}
			}

			&.tm-btt {
				width: 140px;
				
			}

			&:first-child {
				width: 200px;
				height: 100%;
				margin: 20px auto;
				vertical-align: top;
				display: inline-block;
				border: 2px solid $dark-brown;
			}

			&:last-child {
				width: 150px;
				margin-right: 20px;
				float: right;
				display: inline-block;
				
				p {

					margin-top: 5px;
				}
				
				img {
					border-radius: 50%;
					border: 2px solid $grey;
				}
			}
		}
	}
}