.range-group {
    padding: 0 5px;

    .range-label {
        text-align: center;
        margin: 25px 0 0;             
    }

    .range-wrapper{
        display: none;
    }

    .range-wrapper-sm {
         display: inline-block;

        .range-number {
            display: inline-block;            
            width: 42%;
            transition: text-shadow .2s;

            button {
                background: white;
                border: none; 
                padding: 13px;

                .fa {
                    font-size: 18px;
                }
            }

            .number-display {
                text-align: center;

                input {
                    width:72%;
                }
            }
        }    
        span {
                display: inline-block;
        }
    }
        
    &:hover {

    }
/*
    &.open {

    }
*/
}