.range-group {
    padding: 0 5px;

    .range-label {
        text-align: center;
        margin: 25px 0 0;             
    }

    .range-wrapper{
        display: none;
    }

    .range-wrapper-sm {
        display: table;
        table-layout: fixed;
        width: 100%;

        .range-number {
            display: table-cell;   
            vertical-align: middle;         
            width: 45%;
            transition: text-shadow .2s;

            button {
                background: white;
                border: none; 
                padding: 13px;

                .fa {
                    font-size: 18px;
                }
            }

            .number-display {
                text-align: center;

                input {
                    width: 75%;
                    text-align: center;
                    border: none;
                    color: $grey;
                    padding: 12px 0;
                }

                input[type=number]::-webkit-outer-spin-button,
                input[type=number]::-webkit-inner-spin-button {
                    -webkit-appearance: none;
                    margin: 0;
                }              
            }
        }
            
        span {
            display: table-cell;
            vertical-align: middle;

        }
    }
        
    &:hover {

    }
/*
    &.open {

    }
*/
}