.tabs-container {
	margin: 0 20px;
	border: 2px solid $grey;

	.tabs-header {

		.tabs {
			list-style-type: none; 
			display: table;
			table-layout: fixed;
			width: 100%;
			background-color: $brown;

			.tabs-item {
				display: table-cell;
				text-align: center;
				font-weight: bold;
				border-width: 0 0 2px 2px; 
				border-style: solid;	
				border-color: $dark-brown;
				border-bottom: none;

				.fa {
					display: none;
				}

				&:last-child {
					border-right: none;
				}

				&:first-child {
					border-left: none;
				}
				
				.tabs-link {
					text-decoration: none;
					display: block;
					font-size: 18px;
					padding: 10px 0;
					color: $grey;

					&:not(.selected){
						border-bottom: 2px solid $dark-brown;
					}

					
					&:hover {
						color: $light-blue;
					}

					&.selected {
						background-color: white;
						border-bottom: 2px solid $white;
						color: $blue;	
					}
				}	
			}
		}
	}

	.tabs-content {
		height: 570px;
	}
}