.tabs-container {
	margin: 0 20px;
	border: 2px solid $grey;

	.tabs-header {

		.tabs {
			list-style-type: none; 
			display: table;
			table-layout: fixed;
			width: 100%;
			background-color: $brown;

			.tabs-item {
				display: table-cell;
				text-align: center;
				border: 2px solid $dark-brown;
				padding: 10px 0;
				

				.tabs-link {
					display: block;
					font-size: 18px;
					color: $dark-grey;
				}
			}
		}
	}
}