.tabs-container {
	margin: 0 20px;
	border: 2px solid $grey;

	.tabs-header {

		.tabs {
			list-style-type: none; 
			display: table;
			table-layout: fixed;
			width: 100%;
			background-color: $brown;

			.tabs-item {
				display: table-cell;
				text-align: center;
				font-weight: bold;
				
				.tabs-link {
					text-decoration: none;
					display: block;
					font-size: 18px;
					padding: 10px 0;
					color: $grey;
					border: 2px solid $dark-brown; 
					border-bottom: none;
					border-top: none;

					&:first-child {
						border-left: none;
					}

					&:last-child {
						border-right: none;
					}
					
					&:hover {
						color: $light-blue;
					}

					&.selected {
						background-color: white;
						color: $blue;
						border-bottom: none;
					}
				}

				
			}
		}
	}
}