&.lp {
	.search-container {
		background: $lp;
	}
}

&.new {
	.search-container {
		background: $new;
	}
}

&.op {
	.search-container {
		background: $op;
	}
}

&.cat {
	.search-container {
		background: $cat;
	}
}


.search-container {

	.search-text{
		color: $white;
		text-align: center;
		padding: 20px 5px 0;

		h2 {
			font-family: $pfont;
		}

		hr {
			width: 10%;
			height: 2px;
    		background: $white;
    		margin: 10px auto 20px;
		}

		p {
			display: none;
		}
	}	
	
	.search-form {
		text-align: center;
		padding-bottom: 10px;

		.inp-btt-warper {
			border: 1px solid $lp;
			position: relative;
			width: 60%;
			margin: 0 auto;
			font-size: 18px;
			color: $dark-grey;

			input[type='text'] {
				width: 100%;
				border: 1px solid $lp;
				border-radius: 7px;
				box-sizing: border-box;
				padding: 12px 20px;
				position: relative;
				right: 30px;
			}

			button {
				border: 0px solid $lp;
				border-radius: 7px;
				padding: 12px 20px;
				background: $white;

				&.pesquisa {
					position: absolute;
					right: 31px;
					top: 1px;
					z-index: 2;
					border: 0px solid $lp;
				}

				&.filtro {
					position: absolute;
					top: 1px;
					right: -88px;
					display: inline-block;
					 
					

					span {
						display: inline-block;

						p {
							margin: 0;
						}
					}		
					
					.fa {
						padding-left: 10px;	
					}
				}		
			}
		}
	}

	&.focus {

		.search-text{

			p {
				display: block;
				font-family: $sfont;
				font-size: $plg;
				padding: 0 5px;
			}
		}
	}

	.filtro-test {
		display: none;
	}

	&.filter-open {
		
		.filtro-test {
			display: block;
		}
	}
}